glob2
Jinja2
joblib
jsonlines
nltk
pathlib2
prettytable
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
sentencepiece==0.1.90
regex
scipy
scikit-learn
spacy==2.2.3
tagme==0.1.3
ujson
unicodecsv
urllib3
sklearn
beautifulsoup4
html5lib
lxml
dataclasses
protobuf==3.9.1
transformers==4.2.0
tensorboardX==2.1
numpy==1.19.2
pandas==1.1.5
datasets==1.1.3
faiss-cpu==1.6.3
